<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- Always include this permission 대략적인 위치 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Include only if your app benefits from precise location access. 정확한 위치 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Required only when requesting background location access on Android 10 (API level 29) and higher. 백그라운드 위치 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- API 및 Firebase 사용 시 인터넷 권한 있어야함 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.sensor.stepdetector"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CapstoneDesign"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".MasterLoadingActivity"
            android:exported="false" />
        <activity
            android:name=".location.bglocationactivity"
            android:exported="false" />
        <activity
            android:name=".location.SetSafetyZoneActivity"
            android:exported="false" />
        <activity
            android:name=".location.CenterActivity"
            android:exported="false" />
        <activity
            android:name=".location.MapActivity_Oldman"
            android:exported="false" />
        <activity
            android:name=".LoadingActivity"
            android:exported="false" />
        <activity
            android:name=".StepCounterActivity"
            android:exported="false" />

        <service
            android:name=".service.StepCounterService"
            android:exported="false"
            android:foregroundServiceType="dataSync">
            <intent-filter>
                <action android:name="com.example.stepcountapp.START_FOREGROUND_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name=".location.Locationservice"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".old_man.OldStepCounterActivity"
            android:exported="false" />
        <activity
            android:name=".location.MapActivity"
            android:exported="false" /> <!-- http 프로토콜을 사용하기 위한 설정 -->
        <activity
            android:name=".location.LocationActivity"
            android:exported="false" />
        <activity
            android:name=".RecordActivity"
            android:exported="false" />
        <activity
            android:name=".old_man.OldWarningActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".start.MasterStartActivity"
            android:exported="false" />
        <activity
            android:name=".start.StartActivity"
            android:exported="false" />
        <activity
            android:name=".old_man.OldSettingActivity"
            android:exported="false" />
        <activity
            android:name=".start.OldStartActivity"
            android:exported="false" />
        <activity
            android:name=".old_man.OldMainActivity"
            android:exported="false" />
        <activity
            android:name=".login.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true"> <!-- LoginActivity를 런처 액티비티로 설정 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="f227916708539dd4341f25bb32218f6f" />

        <service android:name=".service.FirestoreNotificationService" />
        <service android:name=".service.FirestoreNotificationService2" />
    </application>

</manifest>